/*
A CSS rule set has one part called selector, and the other part called declaration. The
declaration contains various rules, each composed by a property, and a value.
In this example, p is the selector, and applies one rule which sets the value 20px to the
font-size property: In this example the body is the selector
and there are a set of rules for: font, padding, margin, and background-color
*/

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }

  /* Global - 
  
  Global means that the css formatting rules specified will apply as a default
  to the selectors indicated.
  
  The container width is responsive to the size of the device, 
  the margin 'auto' will keep the conainer in the middle of the screen
  using 'overflow hidden' will prevent a scroll bar from popping up
  if the content goes beyond the screen boundary
  */
  
.container{
    width:80%; 
    margin:auto;
    overflow:hidden;
  }

  ul{
      margin:0;
      padding:0;
  }

  /* Header **/
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
  }
  

  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  

  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  /*  
  Notice the use of the # because the branding component has an id 
  */

  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }

  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }

  
header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  /* Showcase */
#showcase{
    min-height:400px;
    background:url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  